body {
    outline: 1px dotted brown;
}

.whole-content {
    outline: 1px solid brown;   
}

.main-header {
    outline: 3px dashed lightgreen;   
}

.logo-wrapper {
    outline: 2px solid black;
}


.top-logo {
    outline: 2px dotted tomato;
}
.site-navigation li {
    outline: 1px dotted darkblue;
}

.welcome-banner {
    outline: 2px solid purple;
}

.welcome-banner::after {
    outline: 3px solid red;
}

.site-navigation {  
    outline: 2px solid yellow;
}

.abstract {
    outline: 4px solid royalblue;
}

.abstract p{
    outline: 4px solid ruby;
}

.other-reasons ul {
    outline: 2px solid red;
}

.hotel-searching {
    outline: 2px solid green;
}

.hotel-searching-form {
    outline: 2px solid yellowgreen;
}

.filter-results {
    outline: 3px solid #0403ee; 
}

.catalog-item {
    outline: 3px solid #04aadd;
}

.footer-container { 
    outline: 3px solid black;
}

.footer-wrapper {
    outline: 2px dashed pink;   
}

.hashtag-link {
    outline: 2px dotted purple;
}

.footer-social {
    outline: 2px dotted darkgrey;
}

.footer-social li {
    outline: 2px dotted darkred;
}

.social-button {
    outline: 2px dotted darkgreen;
}

.footer-wrapper ps{
    outline: 2px dotted lightgrey;   
}
