body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #f2f2f2;
    min-width: 1200px;
    
    display: flex;
    justify-content: center;    
}

a {
    text-decoration: none;
    font-weight: bold;
}

.visibility-hidden {    
    position: absolute;
    display: block;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
}

.whole-content {
    position: relative;
    width: 1200px;
    padding-top: 0px; 
    background-color: #fff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.main-header {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 72px;
    margin-right: 72px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 3;
}

.top-logo {
    position: absolute;   
    top: -1px; 
    left: 529px;
}

.main-navigation {
    flex-grow: 2;
}

.main-navigation:last-child li{    
    text-align: right;
}

.site-navigation {    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;
    padding-left: 0px;
    margin: 0px;    
}

.site-navigation li {
    margin: 14px 0 16px 0;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
    margin-right: 100px;
    text-align: left;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
    margin-left: 115px;
}

.site-navigation li:nth-child(4n+2) {    
    margin-right: 225px;
}

.site-navigation a {    
    color: black;
    letter-spacing: normal;
    line-height: 1.86;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation a.current-page {
    color: #766357;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome-banner {
    position:relative;    
    background-image: url("../img/background-photo.jpg");    
    background-color: #e4eff6;         
    background-repeat: no-repeat;
    background-position: 0 -26px;
    display: flex;
    background-size: cover;
}

.welcome-banner img {
    margin: 0 auto;
    margin-bottom: 79px;
    margin-top: 132px;
}

.welcome-banner::after {
    content: url("../img/polygon.svg");    
    position: absolute;
    width: 100%;   
    height: 57px;  
    bottom: 0; 
    left: 0;
}

.abstract {
    display: flex;
    flex-direction: column;
    padding-top: 61px;
    padding-bottom: 51px;   
    align-self: center;
}

.abstract p {
    width: 490px;
    margin: 0;

    text-align: center;
}

.abstract .short-description {
    font-weight: bold;
    font-size: 21px;
    line-height: 1.24;
    margin-bottom: 27px;
}

.abstract .better-than-gc {
    line-height: 1.86;
    font-weight: normal;
    color: #333;
}

.first-reason,
.second-reason{
    display: flex;  
    color: #fff;
    background-color: #81b3d2;
}

.second-reason {
    flex-direction: row-reverse;
}

.other-reasons ul {
    list-style: none;
    display: flex;  
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.advantages ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.advantages li {
    width: 400px;
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
    align-items: center;
    text-align: center;  
    margin-top: 61px;  
}

.advantages li:last-child {
    margin-top: 58px;  
}
.advantages h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 0;

    margin-top: 27px;
    margin-bottom: 23px;
}

.advantages p {
    max-width: 290px;
    font-weight: normal;
    line-height: 1.5;   
    margin: 0;
    margin-bottom: 82px;
}

.reason-description {
    box-sizing: border-box;
    width: 400px;
    min-height: 256px;
    display: flex;
    flex-direction: column;
    padding-top: 46px;
    padding-bottom: 60px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.reason-description h3 {
    max-width: 160px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;    
    margin: 0;
    padding: 0;
}

.reason-description p { 
    max-width: 308px;    
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

li.reason-description p {
    max-width: 270px;    
}

li.reason-description:first-child p {
    max-width: 215px;    
}

li.reason-description:last-child p {
    max-width: 255px;    
}

.blue-gradient {
    background-color: #81b3d2;
}

.gray-gradient {
    background-color: #eee;
}

.reason-number:before,
.reason-number:after {
    content: "—";
}

.hotel-searching {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 2;

    padding-top: 51px;
}

.hotel-searching h2 {       
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: bold;  
    line-height: 1.2;
}

.hotel-searching p {    
    max-width: 450px;
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
    line-height: 1.71;
    color: #333;
    text-align: center;
}

.button {
    color: #fff;
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    text-transform: uppercase;
}

.hotel-searching > .button {
    width: 568px;
    padding: 30px 0;
    border: none;
    background-color: #766357;

    cursor: pointer;
}

.hotel-searching > .button:hover {
    background-color: #604e43;
}

.hotel-searching > .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.hotel-searching-form {
    position: absolute;
    top: 100%;
    /*top: 0;*/
    left: 316px;

    display: flex;
    flex-direction: column;

    width: 568px;
    padding: 55px;
    z-index: -1;
    box-sizing: border-box;

    color: #000;
    line-height: 1.86;
    text-align: left;

    background-color: #fff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);    
}

.form-hidden {    
    display: none;
}

.hotel-searching-form input,
.counter-button {
    background-color: #f2f2f2;  
    text-transform: uppercase;  
}

.form-data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-bottom: 30px;
}

.hotel-searching-label {
    font-weight: bold;
}

.date-wrapper input {
    width: 346px;
    height: 38px;
    box-sizing: border-box;
    padding-left: 10px;
    
    font-weight: bold;
    font-size: 14px;
    line-height: 1.86;
    color: #000;
    font-stretch: normal;
    letter-spacing: normal;
    
    border: 2px solid #f2f2f2;

    cursor: pointer;
}

.date-wrapper input:hover {
    border: 2px solid #ebebeb;
    background-color: #ebebeb;
}

.date-wrapper input:focus {
    background-color: #fff;
    border: 2px solid #e5e5e5;
}

.date-wrapper button {
    position: absolute;    
    top: 7px;
    right: 3px;
    background: none;
    border: none;
    cursor: pointer;
} 

.date-wrapper svg {
    fill: #cacaca;
}

.date-wrapper svg:hover {
    fill: #000;
}

.date-wrapper svg:active {
    fill: #81b3d2;
}

.people-counter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
    align-items: center;
}

.counter-wrapper {
    display: flex;
    align-items: center;
}

.children-counter-wrapper,
.adults-counter-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.children-counter-wrapper .hotel-searching-label {
    margin-right: 28px;
}
.adults-counter-wrapper .hotel-searching-label  {
    margin-right: 40px;
}

.counter-button,
.counter-wrapper input {
    margin: 0;
    padding: 0;
    border: none;
    width: 38px;
    height: 38px;    
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    color: #000;
}

.counter-button {
    position: relative;
    color: #a9a9a9;
    font-size: 26px;
    line-height: 36px;

    cursor: pointer;
}

.button-minus::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    left: 13px;
    top: 18px;

    background-color: #a9a9a9;
}

.button-plus::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 3px;
    left: 13px;
    top: 18px;

    background-color: #a9a9a9;
}

.button-plus::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 3px;
    left: 13px;
    top: 18px;

    background-color: #a9a9a9;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

.counter-button:hover::before,
.counter-button:hover::after {
    background-color: #000;
}

.counter-button:active::before,
.counter-button:active::after {
    background-color: #81b3d2;
}

.hotel-searching-form input[type="submit"] {
    height: 58px;
    box-sizing: border-box;
    border: none;
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    cursor: pointer;
}

.hotel-searching-form input[type="submit"]:hover {
    background-color: #669ec0;    
}

.hotel-searching-form input[type="submit"]:active {
    color: rgba(255,255,255, 0.3);
    background-color: #5496bd;
}

.sedona-location {
    display: flex;
}

.map-wrapper {
    position: relative;
    width: 1200px;
    height: 594px;
}

.map-wrapper img {
    position: absolute;
    top: 0px;
    left: 0px;    
}

.map-wrapper iframe {
    position: absolute;
    top: 0px;
    left: 0px;    
}

.map-wrapper .map-hidden {
    display: none;
}

.filter-params form {    
    background-color: #669ec0;
    background-image: url("../img/filter-background.jpg");
    background-position: 0 -238px;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 82px;
    padding-bottom: 7px;

    color: #fff;
}

.filter-params-wrapper {
    display: flex;
    justify-content: space-between;    

    font-size: 14px;
    line-height: 1.5;
}

.filter-params-wrapper fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;  
}

.filter-params-wrapper fieldset:not(:first-child){
    margin-left: 118px;
}

.filter-params-wrapper legend,
.filter-cost p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.31;
}

.filter-params-wrapper legend {
    margin-bottom: 26px;
}

.filter-params-wrapper ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-checkbox-item-wrapper {
    display: flex;
}

.filter-checkbox-items {
    position: relative;
    margin-bottom: 25px;
    padding-left: 41px;
    display: flex;    
}

.filter-checkbox:not(:disabled) ~ .filter-checkbox-items {
    cursor: pointer;
}

.filter-checkbox-items::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;    

    width: 23px;
    height: 23px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 3px;
}

.filter-checkbox:checked + .filter-checkbox-items::before
{
    border: none;
    content: url("../img/checkbox-on.svg");
}

.filter-checkbox:checked:disabled + .filter-checkbox-items::before {
    border: none;
    content: url("../img/checkbox-on-2.svg");
}

.filter-checkbox:active:disabled + .filter-checkbox-items::before  {
    border: none;
    content: url("../img/checkbox-on-2.svg");
}

.filter-checkbox:disabled + .filter-checkbox-items::before {
    border-color: #6a6a6a;
}

.filter-cost {    
    width: 318px;
    display: flex;
    flex-direction: column;    
}

.filter-cost p {
    margin-top: 0;
    margin-bottom: 10px;
}

.filter-cost-range {
    position: relative;
    display: flex;
    justify-content: space-between;
    
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 0;
    padding-right: 30px;
    margin-bottom: 22px;

    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
}

.filter-cost-range::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-1px, -11px);
            transform: translate(-1px, -11px);
}

.filter-cost-range label {
    padding-left: 65px;
    cursor: pointer;
}

.filter-cost-range input {
    width: 50px;
    margin: 0;
    margin-left: 3px;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.filter-cost-range-controls {
    position: relative;
}

.filter-cost-slider {
    height: 2px;
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    margin-bottom: 32px;
}

.filter-cost-slider-progress {
    height: 2px;
    width: 80%;
    background-color: #fff;
}

.range-toggle {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
    height: 20px;
    width: 20px;
    padding: 0;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(255,255,255, 0.2);

    cursor: pointer;
}

.range-toggle:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    height: 22px;
    width: 22px;
}

.range-toggle-max {
    left: 80%;
}

.filter-cost-show-results {
    -ms-grid-row-align: center;
        align-self: center;
    padding: 5px 33px;  
    margin-right: 9px;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid #fff;  
    border-radius: 2px;

    cursor: pointer;
}

.filter-cost-show-results:hover,
.filter-cost-show-results:active  {
    background-color: #fff;
    color: #000;
}

.sorting-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 72px;
    padding-right: 72px;
}

/*.sorting-settings > p,
.sorting-type {
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
}*/

.sorting-results p:first-child {
    display: inline-block;
    width: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 44px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;

    vertical-align: top;
}

.sorting-results p:not(:first-child) {
    width: 115px;
    margin-top: 14px;
}

.sorting-results p:not(:first-child),
.sorting-type {    
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;

}

.sorting-settings {    
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    max-width: 800px;
    align-items: center;
    margin-top: 2px;
}

.sorting-settings > p {
    margin: 0;
    margin-right: 40px;
}

.sorting-type {
    background: none;
    border: none;
    margin-right: 33px;
    padding: 0;

    border-bottom: 1px dotted #81b3d2;

    color: rgba(0, 0, 0, 0.3);

    cursor: pointer;
}

.sorting-type:hover {
    color: #81b3d2;
}

.current-sorting-type {
    color: #81b3d2;
    border: none;
}

.sorting-type:active {
    color: #000;
    border: none;
}

.sorting-direction {
    position: relative;
    background: none;
    border: none;
}

.sorting-direction-container {
    width: 34px;
    display: flex;
    justify-content: space-between;
}

.sorting-direction::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(1px, -3px);
            transform: translate(1px, -3px);
    background-color: #fff;
    border: 6px solid transparent; 
    border-top: 12px solid #81b3d2; 
    cursor: pointer;
}

.sorting-to-up::before {
    -webkit-transform: translateY(-10px) rotate(180deg);
            transform: translateY(-10px) rotate(180deg);
}

.sorting-direction:active::before {
    border-top-color: #81b3d2;
}

.sorting-direction:hover::before {
    border-top-color: #000;
}

.sorting-direction:focus::before {
    border-top-color: #000;
}


.current-sorting-direction::before,
.current-sorting-direction:hover::before,
.current-sorting-direction:active::before,
.current-sorting-direction:focus::before {
    border-top-color: #cacaca;
    cursor: default;
}

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 120px;
}

.catalog-item {        
    border-bottom: 1px solid #f2f2f2;
}

.catalog-item:first-child {
    border-top: 1px solid #f2f2f2;
}

.catalog-item-container {
    margin: 0 72px;
    margin-left: 42px;
    padding: 27px 0;
    display: flex;
    justify-content: space-between;
}

.catalog-item h3 {
    margin: 0;
    padding: 0;    
}

.catalog-item p {
    margin: 0;
    padding: 0;        
}

.catalog-item-image {
    padding: 3px 30px;
    display: flex;
}

.catalog-item-description {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}

.catalog-item-description p {
    margin-bottom: 10px;
}

.catalog-item-name {
    margin: 0;
}

.catalog-item-name a {
    display: inline-block;
    margin-top: -2px;
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    text-align: left;
    color: #000;

    vertical-align: top;

    cursor: pointer;
}

.catalog-item-name a:visited{
    color: #000;
}

.catalog-item-name a:hover {
    color: #81b3d2;
}

.catalog-item-name a:active {
    color: rgba(0, 0, 0, 0.3);
} 

.catalog-item-description p {
    display: flex;
}

.catalog-item-type,
.catalog-item-price {
    margin-bottom: 2px;
    width: 116px;
    line-height: 1.5;
    text-align: left;   
    color: #333;
}

.catalog-item-buttons {
    padding: 0;
    margin-bottom: 6px;
}

.catalog-item-description .button {
    padding: 4px 17px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: #fff;

    cursor: pointer;
}

.button-blue {
    background-color: #81b3d2;
}

.button-blue:hover {
    background-color: #669ec0;
}

.button-blue:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.button-brown {    
    margin-left: 3px;
    background-color: #766357;
}

.button-brown:hover {
    background-color: #604e43;
}

.button-brown:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.catalog-item-rate-params {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-item-stars {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.catalog-item-stars li {
    margin-left: 6px;
}

.catalog-item .catalog-item-rating {
    background-color: #f2f2f2;
    padding: 2px 11px 4px 13px;
    margin-bottom: 2px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    color: #666666;
}

.footer-container { 
    position: relative; 
}

.footer-wrapper {
    position: absolute; 
    box-sizing: border-box;
    width: 100%;
    bottom: 0px;    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 35px 0;
    padding-right: 101px;
    padding-left: 132px;  

    background-color: #fff;
    opacity: 0.9;
}

.hashtag-link {
    width: 165px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #000;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 150px;
  
    list-style: none;    
}

.footer-container a {
    color: black;
    text-decoration: none;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 46px;    
    height: 48px;
    
    background-color: #81b3d2;  

    cursor: pointer;  
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active{    
    background-color: #5496bd;
}

.social-button:active svg {
    opacity: 0.3;
}

.copyright {
    margin: 0;
    display: flex;    
    justify-content: space-between;
    width: 200px;    
}

.copyright span {
    margin: auto 0;
    margin-left: 2px;
    margin-top: 9px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.86;  
    color: #000;
}

.copyright a {
    width: 113px;
    padding-top: 2px;
}

.copyright-logo {
    cursor: pointer;
}

.copyright-logo:hover path {
    fill: #81b3d2;
}

.copyright-logo:active path {
    fill: #bdbbbc;
}